if user 
	span 欢迎您， #{user.name} |
	a(href='/logout') 注销
else
	form(method='post',action='/login')
		span 账号
		input(type='text',name='name')
		span 密码
		input(type='password',name='password')
		input(type='submit',value='提交')