extends layout

block content
  h1= title
  p Welcome to #{title}
  form(method="post",action="/signup")
    label 账号
    input(name="name",type="text")
    label 密码
    input(name="password",type="password")
    input(type="submit",value="提交")